In [290]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [291]:
data = pd.read_csv('Athletes_summer_games.csv')
regions = pd.read_csv('regions.csv')

In [292]:
data.head()

,Unnamed: 0,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,M,24.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,1,A Lamusi,M,23.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,2,Gunnar Nielsen Aaby,M,24.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,26,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN

In [293]:
data.shape

(237673, 13)

In [294]:
# Merge 'data' with 'regions_data' to retrieve region names based on NOC codes

data = data.merge(regions, on="NOC", how="left")
# Why left?
# To preserve all rows from the left_df(data) and adding columns from the right_df(regions) based on the NOC in left.

In [295]:
data.isnull().sum()

Unnamed: 0_x         0
Name                 0
Sex                  0
Age               9189
Team                 0
NOC                  0
Games                0
Year                 0
Season               0
City                 0
Sport                0
Event                0
Medal           201136
Unnamed: 0_y         0
region              23
notes           233148
dtype: int64

### Missing Values report:

- Age is missing for 1/10th of the dataset
- Though NOC values are filled, the regions has around 370 missing values, because some NOC's aren't related to any country/region.

<br>

In [296]:
data.duplicated().sum()

0

In [297]:
data.drop_duplicates(inplace=True)

# Removed duplicates
data.duplicated().sum()

0

In [298]:
data['Medal'].value_counts()

# As dropna is True by default, it is not showing NaN values

Medal
Bronze    12276
Gold      12259
Silver    12002
Name: count, dtype: int64

In [299]:
data = pd.concat([data, pd.get_dummies(data['Medal']).astype(int)], axis=1)

# Where there is an NaN, then there is 0 in all the medals

# Why doing this ?
# Because we need cause of Gold, Silver and Bronze medals individually

In [300]:
data.head()

,Unnamed: 0_x,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Unnamed: 0_y,region,notes,Bronze,Gold,Silver
0,0,A Dijiang,M,24.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,45,China,NaN,0,0,0
1,1,A Lamusi,M,23.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,45,China,NaN,0,0,0
2,2,Gunnar Nielsen Aaby,M,24.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,59,Denmark,NaN,0,0,0
3,3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,59,Denmark,NaN,0,1,0
4,26,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,149,Netherlands,NaN,0,0,0

# SUMMER OLYMPICS

<br>

In [301]:
summer_data = data[data['Season'] == "Summer"]

In [302]:
data.shape

(237673, 19)

In [303]:
summer_data['region'].unique().shape

(208,)

### There are sum historical issues, as in the past years, there were many countries which divided and some joined and there are also NaN values

<br>

In [ ]:
summer_data.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold', ascending=False).reset_index()

### BUT ?! By tallying it on the Wikipedia (https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table),

The data is incorrect, the above table is showing more medal than the actual one.

Problem :
- The problem is that, this dataset is actually based on atheletes, and there might be events, where it was a team play, the whole team won i.e each teamplayer gets a medal
- Due to this, even for one win, we are counting all the medals in the team as well

<br>

In [ ]:
summer_medal_tally = summer_data.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Event','Medal'])

In [ ]:
summer_medal_tally = summer_medal_tally.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold', ascending=False).reset_index()

In [ ]:
summer_medal_tally['total'] = summer_medal_tally['Gold'] + summer_medal_tally['Silver'] + summer_medal_tally['Bronze']

In [ ]:
summer_medal_tally

### Though the data is varying a little bit, as there are some exceptions mentioned in the Wikipedia page as well, BUT the ranking remains the same

<br>

In [ ]:
summer_medal_tally[summer_medal_tally['NOC'] == "IND"]

In [ ]:
years = summer_data['Year'].unique().tolist()

In [ ]:
years.sort()

In [ ]:
years.insert(0,"Overall")

In [ ]:
years

In [ ]:
country = summer_data['region'].dropna().unique().tolist()

In [ ]:
country.sort()

In [ ]:
country.insert(0,"Overall")

In [ ]:
country

In [ ]:
def get_medal_tally(year, country):
    medal
    if year == 'Overall' and country == 'Overall':
        pass
    if year == 'Overall' and country != 'Overall':
        pass
    if year != 'Overall' and country == 'Overall':
        pass
    if year != 'Overall' and country != 'Overall':
        pass

### Overall Analysis

- No of editions
- No of cities
- No of events/sports
- No of atheletes
- Participating Nations

<br>

In [ ]:
# As 1906 Olympics is intercalated

summer_data['Year'].unique().shape[0] - 1

In [ ]:
summer_data['City'].unique().shape[0]

In [ ]:
summer_data['Sport'].unique().shape[0]

In [ ]:
summer_data['Event'].unique().shape[0]

In [ ]:
summer_data['Name'].unique().shape[0]

In [ ]:
summer_data['region'].unique().shape[0]

In [ ]:
nations_over_time = summer_data.drop_duplicates(['Year','region'])['Year'].value_counts().reset_index().sort_values('Year')

In [ ]:
nations_over_time.rename(columns={'Year':'Edition', 'count': 'No. of Countries'}, inplace= True)

In [ ]:
fig = px.line(nations_over_time, x='Edition', y='No. of Countries')
fig.show()

According to History,

"The 1980 Moscow Olympics were marred by a widespread boycott led by the United States and other nations in protest of the Soviet Union's invasion of Afghanistan, highlighting the intersection of sports with international politics and tensions"

<br>

In [ ]:
discrete_data = summer_data.drop_duplicates(['Year','Sport','Event'])

In [ ]:
plt.figure(figsize=(25,25))
sns.heatmap(discrete_data.pivot_table(index='Sport', columns='Year',values='Event',aggfunc='count').fillna(0).astype(int), annot=True)

# as there are NaN values, fillna will fill them with 0
# aggfunc - that function will be applied

# annot - for numbers to be displayed

In [ ]:
def most_successful(data, sport):
    temp_df = data.dropna(subset=['Medal'])

    if sport != 'Overall':
        temp_df = temp_df[temp_df['Sport'] == sport]

    x = temp_df['Name'].value_counts().reset_index().head(15).merge(data, left_on='Name', right_on='Name', how='left')[
        ['Name', 'count', 'Sport', 'region']].drop_duplicates('Name')
    x.rename(columns={'count': 'Medals'}, inplace=True)
    return x

most_successful(summer_data, "Overall")

In [ ]:
def held_at_city(data, season):
    if season == 'Overall':
        region = summer_data.groupby('Year').first()['City'].reset_index()
        season = summer_data.groupby('Year').first()['Season'].reset_index()
        final_data = region.merge(season, on="Year")

    else:
        final_data = data.groupby('Year').first()['City'].reset_index()   
    return final_data

city_data = held_at_city(summer_data, "Overall")
city_data

In [ ]:
region = summer_data.groupby('Year').first()['City'].reset_index()
season = summer_data.groupby('Year').first()['Season'].reset_index()
final_data = region.merge(season, on="Year")
final_data

### Country wise

- CountryWise medal tally per year (line plot)
- What countries in heatmap
- Most Successfull Atheletes (Top 10)
- Most popular sport
- Most popular event

<br>

In [ ]:
country_list = summer_data['region'].dropna().unique().tolist()

In [ ]:
country_list.sort()

In [ ]:
def yearwise_medal_tally(data,country):
    temp_data = data.dropna(subset=['Medal'])
    temp_data.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'], inplace=True)

    new_data = temp_data[temp_data['region'] == country]
    final_data = new_data.groupby('Year').count()['Medal'].reset_index()

    return final_data

country_data = yearwise_medal_tally(summer_data,"India")

In [ ]:
fig = px.line(country_data, x="Year", y="Medal")
fig

In [ ]:
def country_event_heatmap(df,country):
    temp_data = df.dropna(subset=['Medal'])
    temp_data.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'], inplace=True)

    new_df = temp_data[temp_data['region'] == country]

    pt = new_df.pivot_table(index='Sport', columns='Year', values='Medal', aggfunc='count').fillna(0)
    return pt

pt = country_event_heatmap(summer_data, "Japan")

In [ ]:
fig, ax = plt.subplots(figsize=(20, 20))
ax = sns.heatmap(pt,annot=True)

In [ ]:
def medals_per_event(data,country):
    temp_data = data.dropna(subset=['Medal'])
    temp_data.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'], inplace=True)

    new_data = temp_data[temp_data['region'] == country]
    final_data = new_data.groupby('Event').count()['Medal'].sort_values(ascending=False).reset_index()

    return final_data

event_data = medals_per_event(summer_data,'India')

In [ ]:
event_data

In [ ]:
def sports_wise_medals(data,country):
    temp_data = data.dropna(subset=['Medal'])
    temp_data.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'], inplace=True)

    new_data = temp_data[temp_data['region'] == country]
    final_data = new_data.groupby('Sport').count()['Medal'].reset_index()

    return final_data

sports_data = sports_wise_medals(summer_data, "India")
plt.pie(sports_data['Medal'], labels=sports_data['Sport'], radius=5)
#plt.barh(sports_data['Sport'], sports_data['Medal'])

### Athelete Wise Analysis
<br>

In [ ]:
import plotly.figure_factory as ff

In [ ]:
def most_successful_event(data, event):
    temp_data = data.dropna(subset=['Medal'])

    if event != 'Overall':
        temp_data = temp_data[temp_data['Event'] == event]
        
    print(temp_data)
    x = temp_data['Name'].value_counts().reset_index().head(15).merge(data, left_on='Name', right_on='Name', how='left')[
        ['Name', 'count', 'region']].drop_duplicates('Name')
    x.rename(columns={'count': 'Medals'}, inplace=True)
    return x

In [ ]:
most_successful_event(summer_data, "Archery Men's Au Cordon Dore, 50 metres")

In [ ]:
athlete_data = summer_data.drop_duplicates(subset=['Name', 'region'])

In [ ]:
x1 = athlete_data['Age'].dropna()
x2 = athlete_data[athlete_data['Medal'] == 'Gold']['Age'].dropna()
x3 = athlete_data[athlete_data['Medal'] == 'Silver']['Age'].dropna()
x4 = athlete_data[athlete_data['Medal'] == 'Bronze']['Age'].dropna()

In [ ]:
fig = ff.create_distplot([x1, x2, x3, x4], ['Overall Age', 'Gold Medalist', 'Silver Medalist', 'Bronze Medalist'],show_hist=False, show_rug=False)
fig.update_layout(autosize=False,width=800,height=600)

In [ ]:
famous_sports = ['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Athletics',
                     'Swimming', 'Badminton', 'Sailing', 'Gymnastics',
                     'Art Competitions', 'Handball', 'Weightlifting', 'Wrestling',
                     'Water Polo', 'Hockey', 'Rowing', 'Fencing',
                     'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing',
                     'Tennis', 'Golf', 'Softball', 'Archery',
                     'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Baseball',
                     'Rhythmic Gymnastics', 'Rugby Sevens',
                     'Beach Volleyball', 'Triathlon', 'Rugby', 'Polo', 'Ice Hockey']

In [ ]:
x = []
name = []
for sport in famous_sports:
    temp_data = athlete_data[athlete_data['Sport'] == sport]
    x.append(temp_data[temp_data['Medal'] == 'Gold']['Age'].dropna())
    name.append(sport)

In [ ]:
fig = ff.create_distplot(x, name, show_hist=False, show_rug=False)
fig.update_layout(autosize=False, width=800, height=600)

In [ ]:
def men_vs_women(df):
    athlete_data = df.drop_duplicates(subset=['Name', 'region'])

    men = athlete_data[athlete_data['Sex'] == 'M'].groupby('Year').count()['Name'].reset_index()
    women = athlete_data[athlete_data['Sex'] == 'F'].groupby('Year').count()['Name'].reset_index()

    final = men.merge(women, on='Year', how='left')
    final.rename(columns={'Name_x': 'Male', 'Name_y': 'Female'}, inplace=True)

    final.fillna(0, inplace=True)

    return final

In [ ]:
final = men_vs_women(summer_data)
fig = px.line(final, x="Year", y=["Male", "Female"])
fig.update_layout(autosize=False, width=800, height=600)